.sticky-top.py-3.bg-body.d-flex.align-items-center
  %h1.mb-0= t('.title', resource: resource.model_name.human)
= bootstrap_form_with(model: resource, url: registration_path(resource_name), method: :put,
  data: { turbo: false }) do |f|
  = f.alert_message t('errors.messages.not_saved', count: resource.errors.count,
    resource: resource.class.model_name.human.downcase)
  = f.text_field :name
  = f.text_field :username
  = f.text_area :description, data: { controller: 'autosize' }
  = f.email_field :email, help: (t('.currently_waiting_confirmation_for_email',
    email: resource.unconfirmed_email) if resource.pending_reconfirmation?)
  = f.password_field :password, required: false,
    label: "#{User.human_attribute_name(:password)}（#{t('.leave_blank_if_you_don_t_want_to_change_it')}）",
    help: t('devise.shared.minimum_password_length', count: @minimum_password_length)
  = f.password_field :password_confirmation
  = f.password_field :current_password, label_class: 'required',
    help: t('.we_need_your_current_password_to_confirm_your_changes')
  = f.primary
.my-3
  %h2.mb-0= t('.cancel_my_account')
  .mt-3= button_to t('.cancel_my_account'), registration_path(resource_name), method: :delete,
    class: 'btn btn-outline-danger', form: { data: { turbo: false } }
