= turbo_stream.update 'flash-container', partial: 'layouts/flash'

= turbo_stream.replace dom_id(@post, :new_reply) do
  = turbo_frame_tag dom_id(@post, :new_reply), src: new_post_post_path(@post) do
    .p-5= render 'shared/spinner'

= turbo_stream.prepend 'replies-container', partial: 'posts/post', locals: { post: @reply }
