%h1.text-center= t('.sign_in')
= bootstrap_form_with(model: resource, url: session_path(resource_name), data: { turbo: false }) do |f|
  = f.email_field :email
  = f.password_field :password
  = f.check_box :remember_me
  = f.primary t('.sign_in')
.mt-3= render 'devise/shared/links'
