= form_for post do |f|
  - if post.errors.any?
    #error-explanation
      %h2= t('general.some_fields_have_problems')
      %ul
        - post.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :content
    = f.text_field :content
  .actions
    = f.submit
