= form_for post do |f|
  - if post.errors.any?
    #error-explanation
      %h2= t('general.some_fields_have_problems')
      %ul
        - post.errors.full_messages.each do |message|
          %li= message

  .mb-3
    = f.text_field :content, class: 'form-control', placeholder: t('posts.what_is_happening')
  = f.submit class: 'btn btn-primary'
