%article.mt-3.pt-3.border-top.position-relative{ id: dom_id(post) }
  .d-flex.justify-content-between.align-items-center
    .text-muted
      = link_to_unless_current tag.relative_time(datetime: post.created_at), post_path(post),
        class: 'link-muted stretched-link', data: { testid: "post-link-#{post.id}" }
      - if post.created_at != post.updated_at
        %span ･
        %span= t('posts.edited')
    .dropdown.p-1
      %button.btn.btn-link.px-1.py-0.z-2.position-relative{ data: { bs_toggle: 'dropdown',
        testid: "post-dropdown-#{post.id}" } }
        %i.bi.bi-three-dots
      %ul.dropdown-menu.dropdown-menu-end
        %li= link_to t('general.edit'), edit_post_path(post), class: 'dropdown-item',
          data: { turbo_frame: dom_id(post, :content) }
        %li= button_to t('general.destroy'), post_path(post), method: :delete, class: 'dropdown-item text-danger',
          form: { data: { turbo_confirm: t('general.are_you_sure') } }
  = turbo_frame_tag dom_id(post, :content) do
    %span= post.content
