= render 'header' do
  .flex-fill
    = link_to posts_path, class: 'text-body text-decoration-none' do
      %h1.mb-0= t('posts.latest_posts')

- if user_signed_in?
  = turbo_frame_tag dom_id(Post.new), src: new_post_path do
    .p-5= render 'shared/spinner'

.mb-3#posts-container
  = turbo_frame_tag "posts-page-#{@posts.current_page}", target: '_top' do
    = render partial: 'post', collection: @posts
    - if @posts.next_page
      = turbo_frame_tag "posts-page-#{@posts.next_page}", target: '_top', src: path_to_next_page(@posts),
        loading: :lazy do
        .p-5= render 'shared/spinner'
