%h1= t('posts.latest_posts')

%table
  %thead
    %tr
      %th= Post.human_attribute_name(:content)
      %th
      %th
      %th

  %tbody
    - @posts.each do |post|
      %tr
        %td= post.content
        %td= link_to t('general.show'), post_path(post)
        %td= link_to t('general.edit'), edit_post_path(post)
        %td= button_to t('general.destroy'), post_path(post), method: :delete,
          form: { data: { turbo_confirm: t('general.are_you_sure') } }

%br

= link_to t('general.new_resource', resource_name: Post.model_name.human), new_post_path
