= render 'header' do
  .flex-fill
    = link_to posts_path, class: 'text-body text-decoration-none' do
      %h1.mb-0= t('posts.latest_posts')

= turbo_frame_tag dom_id(Post.new), src: new_post_path do
  .p-5= render 'shared/spinner'

.mb-3#posts-container
  = render partial: 'post', collection: @posts
  %nav.nav.justify-content-center
    = link_to_prev_page @posts, t('general.previous'), class: 'nav-link'
    = link_to_next_page @posts, t('general.next'), class: 'nav-link'
