= render 'posts/header' do
  .flex-fill
    = link_to posts_path, class: 'text-body text-decoration-none' do
      %h1.mb-0= t('posts.latest_posts')

- if user_signed_in?
  .mb-3.pb-3.border-bottom
    = turbo_frame_tag dom_id(Post.new) do
      = render 'users/posts/form', post: Post.new

.mb-3#posts-container
  = turbo_frame_tag "posts-page-#{@posts.current_page}", target: '_top' do
    = render partial: 'posts/post', collection: @posts
    - if @posts.next_page
      = turbo_frame_tag "posts-page-#{@posts.next_page}", target: '_top', src: path_to_next_page(@posts),
        loading: :lazy do
        .p-5= render 'shared/spinner'
