= render 'posts/header' do
  %h1.mb-0= t('posts.replies')

= link_to t('posts.reply_to_post'), new_post_post_path

.mb-3
  = turbo_frame_tag 'replies-container' do
    = render partial: 'posts/post', collection: @replies
