!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %title HotwireSandbox
    %meta{ content: 'width=device-width,initial-scale=1', name: 'viewport' }
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true
  %body.text-break
    .custom-container.d-flex
      %header.sticky-top.vh-100.p-3.d-flex.flex-column.align-items-center
        = link_to posts_path do
          %i.bi.bi-lightning-fill.fs-2
        %nav.nav.flex-column.mt-2
          = link_to posts_path, class: 'nav-link' do
            %i.bi.bi-house.fs-4
        .mt-auto
          = link_to new_post_path, class: 'btn btn-primary rounded-pill' do
            %i.bi.bi-plus.fs-4
      %main.flex-fill.border-start.ps-3
        .toast-container.position-fixed.bottom-0.start-50.translate-middle-x.p-3#flash-container= render 'layouts/flash'
        = yield
