!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %title HotwireSandbox
    %meta{ content: 'width=device-width,initial-scale=1', name: 'viewport' }
    %meta{ content: 'no-preview', name: 'turbo-cache-control' }
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true
  %body.text-break
    .custom-container.d-flex
      %header.sticky-top.vh-100.p-3.d-flex.flex-column.align-items-center
        = link_to posts_path do
          %i.bi.bi-lightning-fill.fs-2
        %nav.nav.flex-column.mt-3
          = link_to posts_path, class: 'nav-link' do
            %i.bi.bi-house.fs-4
        .mt-3
          = link_to new_post_path, class: 'btn btn-primary rounded-pill' do
            %i.bi.bi-plus.fs-4
        - if user_signed_in?
          .dropdown.mt-auto
            %button.btn.btn-link.p-0.rounded-pill{ data: { bs_toggle: 'dropdown' } }
              = image_tag 'avatar.png', width: '50', height: '50', class: 'rounded-circle'
            %ul.dropdown-menu
              %li= button_to t('general.sign_out'), destroy_user_session_path, method: :delete, class: 'dropdown-item',
                form: { data: { turbo: false } }
      %main.flex-fill.border-start.ps-3
        = yield
    .toast-container.position-fixed.bottom-0.start-50.translate-middle-x.p-3#flash-container= render 'layouts/flash'
    .modal.fade#turbo-confirm-modal{ tabindex: '-1' }
      .modal-dialog
        .modal-content
          .modal-body.pb-0
            %span#turbo-confirm-modal-message
          .modal-footer.border-top-0
            %button.btn.btn-light{ 'data-bs-dismiss': 'modal', type: 'button' }= t('general.cancel')
            %button.btn.btn-danger#turbo-confirm-modal-confirm-button{ type: 'button' }= t('general.ok')
