!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %title HotwireSandbox
    %meta{ content: 'width=device-width,initial-scale=1', name: 'viewport' }
    %meta{ content: 'no-preview', name: 'turbo-cache-control' }
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true
  %body.text-break.min-vh-100.d-flex
    %main.devise-container.py-5.my-auto
      = yield
    .toast-container.position-fixed.bottom-0.start-50.translate-middle-x.p-3#flash-container= render 'layouts/flash'
